:root {
  --toggle-width: 2rem;
}

#theme-toggle {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: var(--toggle-width);
  height: calc(var(--toggle-width) * 0.5);
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: calc(var(--toggle-width) * 0.035);
  left: calc(var(--toggle-width) * 0.03);
  width: calc(var(--toggle-width) * 0.43);
  height: calc(var(--toggle-width) * 0.43);
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 calc(var(--toggle-width) * 0.175) calc(var(--toggle-width) * 0.02) rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: calc(var(--toggle-width) * 0.43);
  height: calc(var(--toggle-width) * 0.43);
  left: calc(var(--toggle-width) * 0.05);
  bottom: calc(var(--toggle-width) * 0.05);
}

.crater-2 {
  width: calc(var(--toggle-width) * 0.1);
  height: calc(var(--toggle-width) * 0.1);
  top: calc(var(--toggle-width) * -0.035);
  left: calc(var(--toggle-width) * 0.22);
}

.crater-3 {
  width: calc(var(--toggle-width) * 0.08);
  height: calc(var(--toggle-width) * 0.08);
  top: calc(var(--toggle-width) * 0.1);
  right: calc(var(--toggle-width) * -0.02);
}

.crater-4 {
  width: calc(var(--toggle-width) * 0.05);
  height: calc(var(--toggle-width) * 0.05);
  top: calc(var(--toggle-width) * 0.12);
  left: calc(var(--toggle-width) * 0.15);
}

.crater-5 {
  width: calc(var(--toggle-width) * 0.075);
  height: calc(var(--toggle-width) * 0.075);
  top: calc(var(--toggle-width) * 0.2);
  left: calc(var(--toggle-width) * 0.24);
}

.crater-6 {
  width: calc(var(--toggle-width) * 0.05);
  height: calc(var(--toggle-width) * 0.05);
  top: calc(var(--toggle-width) * 0.24);
  left: calc(var(--toggle-width) * 0.1);
}

.crater-7 {
  width: calc(var(--toggle-width) * 0.06);
  height: calc(var(--toggle-width) * 0.06);
  bottom: calc(var(--toggle-width) * 0.025);
  left: calc(var(--toggle-width) * 0.175);
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: calc(var(--toggle-width) * 0.005) 0 calc(var(--toggle-width) * 0.01) calc(var(--toggle-width) * 0.01) rgba(255, 255, 255);
}

.star-1 {
  width: calc(var(--toggle-width) * 0.03);
  height: calc(var(--toggle-width) * 0.03);
  right: calc(var(--toggle-width) * 0.45);
  bottom: calc(var(--toggle-width) * 0.2);
}

.star-2 {
  width: calc(var(--toggle-width) * 0.04);
  height: calc(var(--toggle-width) * 0.04);
  right: calc(var(--toggle-width) * 0.35);
  top: calc(var(--toggle-width) * 0.05);
}

.star-3 {
  width: calc(var(--toggle-width) * 0.025);
  height: calc(var(--toggle-width) * 0.025);
  right: calc(var(--toggle-width) * 0.3);
  bottom: calc(var(--toggle-width) * 0.075);
}

.star-4 {
  width: calc(var(--toggle-width) * 0.015);
  height: calc(var(--toggle-width) * 0.015);
  right: calc(var(--toggle-width) * 0.2);
  bottom: calc(var(--toggle-width) * 0.25);
}

.star-5 {
  width: calc(var(--toggle-width) * 0.02);
  height: calc(var(--toggle-width) * 0.02);
  right: calc(var(--toggle-width) * 0.05);
  bottom: calc(var(--toggle-width) * 0.175);
}

.star-6, .star-7, .star-8 {
  width: calc(var(--toggle-width) * 0.05);
  height: calc(var(--toggle-width) * 0.01);
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: calc(var(--toggle-width) * 0.025) 0 calc(var(--toggle-width) * 0.02) calc(var(--toggle-width) * 0.005) #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: calc(var(--toggle-width) * 0.15);
  bottom: calc(var(--toggle-width) * 0.15);
  animation-delay: -2s;
}

.star-7 {
  right: calc(var(--toggle-width) * 0.25);
  bottom: calc(var(--toggle-width) * 0.3);
}

.star-8 {
  right: calc(var(--toggle-width) * 0.45);
  top: calc(var(--toggle-width) * 0.05);
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(calc(var(--toggle-width) * 0.35));
  }

  50% {
    transform: rotate(-45deg) translateX(calc(var(--toggle-width) * -0.1));
    box-shadow: calc(var(--toggle-width) * 0.025) 0 calc(var(--toggle-width) * 0.03) calc(var(--toggle-width) * 0.005) #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(calc(var(--toggle-width) * -0.15));
    width: calc(var(--toggle-width) * 0.01);
    height: calc(var(--toggle-width) * 0.01);
    opacity: 0;
    box-shadow: none;
  }
}

#theme-toggle:checked + .toggle {
  background: #24D7F7;
}

#theme-toggle:checked + .toggle .toggle-button {
  background: #F7FFFF;
  transform: translateX(calc(var(--toggle-width) * 0.51));
  box-shadow: 0 0 calc(var(--toggle-width) * 0.175) calc(var(--toggle-width) * 0.025) rgba(255, 255, 255);
}

#theme-toggle:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(calc(var(--toggle-width) * 35));
}

#theme-toggle:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#theme-toggle:checked + .toggle .star-1 {
  width: calc(var(--toggle-width) * 0.2);
  height: calc(var(--toggle-width) * 0.05);
  border-radius: 10px;
  background: #FFF;
  left: calc(var(--toggle-width) * 0.1);
  top: calc(var(--toggle-width) * 0.125);
  box-shadow: none;
}

#theme-toggle:checked + .toggle .star-2 {
  width: calc(var(--toggle-width) * 0.06);
  height: calc(var(--toggle-width) * 0.06);
  background: #FFF;
  left: calc(var(--toggle-width) * 0.13);
  top: calc(var(--toggle-width) * 0.115);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

#theme-toggle:checked + .toggle .star-3 {
  width: calc(var(--toggle-width) * 0.08);
  height: calc(var(--toggle-width) * 0.08);
  background: #FFF;
  left: calc(var(--toggle-width) * 0.175);
  top: calc(var(--toggle-width) * 0.095);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

#theme-toggle:checked + .toggle .star-4 {
  width: calc(var(--toggle-width) * 0.07);
  height: calc(var(--toggle-width) * 0.07);
  background: #FFF;
  left: calc(var(--toggle-width) * 0.23);
  top: calc(var(--toggle-width) * 0.105);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

#theme-toggle:checked + .toggle .star-5 {
  width: calc(var(--toggle-width) * 0.3);
  height: calc(var(--toggle-width) * 0.075);
  border-radius: 15px;
  background: #FFF;
  left: calc(var(--toggle-width) * 0.15);
  bottom: calc(var(--toggle-width) * 0.1);
  box-shadow: none;
}

#theme-toggle:checked + .toggle .star-6 {
  width: calc(var(--toggle-width) * 0.09);
  height: calc(var(--toggle-width) * 0.09);
  background: #FFF;
  border-radius: 50%;
  left: calc(var(--toggle-width) * 0.19);
  bottom: calc(var(--toggle-width) * 0.1);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

#theme-toggle:checked + .toggle .star-7 {
  width: calc(var(--toggle-width) * 0.12);
  height: calc(var(--toggle-width) * 0.12);
  background: #FFF;
  border-radius: 50%;
  left: calc(var(--toggle-width) * 0.26);
  bottom: calc(var(--toggle-width) * 0.1);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

#theme-toggle:checked + .toggle .star-8 {
  width: calc(var(--toggle-width) * 0.105);
  height: calc(var(--toggle-width) * 0.105);
  background: #FFF;
  border-radius: 50%;
  left: calc(var(--toggle-width) * 0.35);
  top: calc(var(--toggle-width) * 0.295);
  box-shadow: calc(var(--toggle-width) * -0.005) 0 calc(var(--toggle-width) * 0.01) 0 rgba(0, 0 , 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(calc(var(--toggle-width) * 0.01));
  }

  100% {
    transform: translateX(calc(var(--toggle-width) * -0.01));
  }
}
