@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("assets/MaterialSymbolsOutlined.woff2") format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-center text-5xl lg:text-7xl;
}

h2 {
  @apply font-bold text-center px-6 text-lg lg:text-3xl;
}

p {
  @apply text-base lg:text-xl;
}

.icon {
  @apply text-7xl lg:text-9xl;
}

.section-padding {
  @apply pt-20 lg:pt-24 pb-32 lg:pb-64 min-h-screen;
}

.paragraph-padding {
  @apply pt-12 lg:pt-16;
}

.tile-padding {
  @apply pt-32 lg:pt-64;
}

#menus a {
  @apply text-xs lg:text-sm;
}

#nav-drawer {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#top-menu {
  transition: background-color 0.3s ease;
}

html[data-scroll="0"] #top-menu {
  @apply bg-transparent shadow-none text-zinc-100;
}

html[data-scroll="0"] #top-menu img {
  @apply hidden;
}
