@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/MaterialSymbolsOutlined.woff2") format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-wrap: break-word;
    word-break: break-word;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply font-bold text-4xl;
}

p {
  @apply font-mono text-base/loose;
}

.icon {
  @apply text-[12rem];
}

.section-padding {
  @apply pt-20 lg:pt-24 pb-32;
}

.paragraph-padding {
  @apply pt-12;
}

#menus a {
  @apply text-xs lg:text-sm;
}

#nav-drawer {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#top-menu {
  transition: background-color 0.3s ease;
}

html[data-scroll="0"] #top-menu {
  @apply bg-transparent shadow-none text-zinc-100;
}

html[data-scroll="0"] #top-menu img {
  @apply hidden;
}
